<div class="modal fade" id="searchJokeModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">La blague que tu cherchais</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>N° blague:</strong> <span id="searchJokeId">-</span></p>
        <p><strong>Question:</strong> <span id="searchJokeQuestion">-</span></p>
        <p><strong>Réponse:</strong> <span id="searchJokeAnswer">-</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>