<div class="modal fade" id="modalAddJokes" tabindex="-1" aria-labelledby="modalAddJokes" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalAddJokes">Ajoute ta blague à l'édifice</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <label for="modal-question" class="">Question :</label>
          <input type="text" name="question" id="modal-question" placeholder="Quel est la question ?" required="">
        </div>
        <div>
          <label for="modal-answer">Réponse :</label>
          <input type="text" name="answer" id="modal-answer" placeholder="Quel est la réponse ?" required="">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" id="addJokeBtn">Ajouter la blague</button>
      </div>
    </div>
  </div>
</div>